<div class = "col-xs-8 offset-col-xs-6">
<% if params[:action] == "new" || params[:action] == "create" %>
    <h1> Create New Blog Post </h1>
<% else %>
    <h1> Edit Blog Post </h1>
<% end %>

<%= form_for(@post, url: welcome_index_path) do |p| %>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <p>
    <%= p.label :title %>
    <%= p.text_field :title %>
  </p>

  <p>
    <%= p.label :author %>
    <%= p.text_field :author_id %>
  </p>

  <p>
    <%= p.label :body %>
    <%= p.text_area :body, size:"80x20" %>
  </p>

  <p>
    <%= p.submit "Save Post" %>
  </p>

<% end %>

</div>
